{% extends 'core/base.html' %}
{% load static %}

{% block main_content %}




		<div class="section-margin-top">
			<div class="row">				
				<div class="tm-section-header">
					<div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Todos Itens Perdidos</h2></div>
					<div class="col-lg-3 col-md-3 col-sm-3"><hr></div>	
				</div>
			</div>
			<div class="row">

				{% for lista_perdidos in lista_perdidos %}
			
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="tm-tours-box-1">
						<img src="{{lista_perdidos.photo1.url}}" style="width: 530px; height: 238px;" alt="image" class="img-responsive">
						<div class="tm-tours-box-1-info">
							<div class="tm-tours-box-1-info-left">
								<p class="text-uppercase margin-bottom-20">{{lista_perdidos.nomecompleto}}</p>	
								<p class="gray-text">{{lista_perdidos.data_achado}}</p>
							</div>
							<div class="tm-tours-box-1-info-right">
								<p class="gray-text tours-1-description">{{lista_perdidos.descricao}}.</p>	
							</div>							
						</div>
						<div class="tm-tours-box-1-link">
							<div class="tm-tours-box-1-link-left">
								Declarante: {{lista_perdidos.declarante}}
							</div>
							<a href="#" class="tm-tours-box-1-link-right">
								{{lista_perdidos.tipo_item}}								
							</a>							
						</div>
					</div>					
				</div>

				{%endfor%}


			</div>		
		</div>
	</section>		
	

	{% endblock %}